# Version Control
.git
.gitignore
.dockerignore

# IDEs
.vscode
.idea

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.venv
venv
env

# Node.js
frontend/node_modules
frontend/dist

# Environment
.env
.env.*

# Database
*.db
*.sqlite3
sims_mods.db
